.about{
    padding: 150px 0;
}

.about .container{
    display: grid;
    gap: 24px;
    grid-template-columns:repeat(2,1fr);

}

.about__right p {
    color: var(--clr-light);
    margin-bottom: 32px;
}